
# ==================================================
# 
# 
# Noise
# 
# 
# ==================================================

# ==================================================
# Operating System noise
# ==================================================

# Mac metadata file
.DS_Store

# Win metadata file
desktop.ini

